<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar" style="position:relative;margin-top:-10px;line-height:50px;">
        <img src="~/Images/firewall.png" class="logo" />
        <div id="mySidebar" class="sidebar">
            <div class="container">
                <h1>@Html.ActionLink("Firewalls :)", "Index", "Home")</h1>
            </div>

            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
            <ul>

                @*<li data-toggle="tooltip" title="Add Movies, View Movies, Delete Movies">

                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Add Movies", "Create", "Movies")
                    }
                </li>*@
                <li data-toggle="tooltip" title="Add Movies, View Movies, Delete Movies">

                    @Html.ActionLink("View Movies", "Index", "Movies")
                </li>
                <li>

                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Upload Trailers", "Search", "UploadResource")
                    }
                </li>
                <li>

                        @Html.ActionLink("Watch Trailers", "Search", "UploadResource")
                </li>
                <li>

                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Roles", "Index", "Roles")
                    }
                </li>
                <li data-toggle="tooltip" title="Add Theatre, View Theatre ,Update Theatre,Delete Theatre ">

                    @Html.ActionLink(" View Theatres", "Index", "Theatres")
                </li>

            </ul>
            <ul>
                <li>

                    @if (User.IsInRole("Members"))
                    {
                        @Html.ActionLink("My Bookings", "My_Shows", "Book")
                    }
                </li>

                <li>

                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("View Bookings", "Index", "Tickets")
                    }
                </li>
            </ul>
        </div>


        <h4 class="user"> @Html.Partial("_LoginPartial")</h4>
        <div id="main">
            <button class="openbtn" onclick="openNav()">☰ Home</button>

        </div>

    </div>

    <div class="container body-content">
        @RenderBody()

    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "330px";
            document.getElementById("main").style.marginLeft = "330px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>
<div style="background-color:#111;line-height:120px;position:relative;width:100%;top:150px;">
    @*designed by Firewalls 2019*@ 
    <section class="copy-right bg-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-9">
                    <p class="">
                        © 2019 Work. All rights reserved | Design by
                        @Html.ActionLink("The Firewalls Team", "Index", "Home")
                    </p>
                </div>
                <div class="col-lg-5 col-md-3">
                    <ul class="social-iconsv2 agileinfo d-flex">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>