@model Firewalls.Models.Cinema_Models.Booking

@{
    ViewBag.Title = "Cancel booking";
}

<h2>Cancel</h2>

<h3>Are you sure you want to cancel this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storethename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storethename)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Refreshments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Refreshments)
        </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.Mname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mname)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.MovieCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieCost)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.ShowDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShowDate)
            </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.TheatreID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheatreID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Cinema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinema)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.MappingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MappingID)
        </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.ShowTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShowTime)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Cancel" class="btn btn-default" /> |
    @Html.ActionLink("Home", "Index", "Home") |
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Back to List", "Index")

    }
</div>
    }
</div>
