@model IEnumerable<Firewalls.Models.Cinema_Models.Booking>

@{
    ViewBag.Title = "Available Movies";
}

<h2>Available Movies</h2>
<div>@Html.ActionLink("Create Another Booking", "Create", "Bookings")</div>
<table class="table">

    <tr>
        @*double price = Convert.ToInt32(@item.Amount);*@
        <th>
            @Html.DisplayNameFor(model => model.Mname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowTime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Cinema)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.Refreshments)
        </th>*@

        <th>
            @Html.DisplayNameFor(model => model.MovieCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th></th>
        @foreach (var item in Model)
        {
<tr>
        @*double price = Convert.ToInt32(@item.Amount);*@
        <td>
            @Html.DisplayFor(modelItem => item.Mname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowTime)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Cinema)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.Refreshments)
        </td>*@

        <td>
            @Html.DisplayFor(modelItem => item.MovieCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>

        <td>

            @Html.ActionLink("Edit", "Edit", new { id = item.BookingID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BookingID }) |
            @Html.ActionLink("View Invoice", "Details", new { id = item.BookingID })
        </td>


    </tr>
        @*<h5 style="color:#111;">@Html.ActionLink("View Invoice", "Details", new { id = item.BookingID })</h5>*@


    }
    </table>

