@model IEnumerable<Firewalls.Models.Cinema_Models.Booking>

@{
    ViewBag.Title = "Invoice";
}

<h2>Movies Showing</h2>
<div>@Html.ActionLink("Create New Booking", "Create", "Bookings")</div>
@foreach (var item in Model)
{
    //double price = Convert.ToInt32(@item.Amount);
    <div class="col-md-3" style="margin-bottom:25px">
        @Html.DisplayFor(modelItem => item.Mname)

    </div>

    @*<div class="col-md-3" style="margin-bottom:25px">
        @Html.DisplayFor(modelItem => item.storethename)

    </div>*@

    <div class="col-md-3" style="margin-bottom:25px">
        @Html.DisplayFor(modelItem => item.ShowTime)

    </div>
    <div class="col-md-3" style="margin-bottom:25px">
        @Html.DisplayFor(modelItem => item.Cinema)

    </div>
    <div class="col-md-3" style="margin-bottom:25px">
        @Html.DisplayFor(modelItem => item.Quantity)

    </div>
    <div class="col-md-3" style="margin-bottom:25px">
        @Html.DisplayFor(modelItem => item.MovieCost)

    </div>
    <div class="col-md-3" style="margin-bottom:25px">
        @Html.DisplayFor(modelItem => item.TotalCost)

    </div>
    <h5 style="color:#111;">@Html.ActionLink("View Invoice", "Details", new { id = item.BookingID })</h5>
}

