@model Firewalls.Models.Cinema_Models.Movie

@{
    ViewBag.Title = "Add Movie";
}

<h2>Add Movie</h2>


@using (Html.BeginForm("Create","Movies",FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="form-group">
        @Html.LabelFor(model => model.MovieName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MovieName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Movie Name" } })
            <span style="color:white;font-size:20px;font-weight:400;text-shadow:2px 4px #111 ;">@Html.ValidationMessageFor(model => model.MovieName, "", new { @class = "text-white" })</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Genre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Genre" } })
            <span style="color:white;font-size:20px;font-weight:400;text-shadow:2px 4px #111 ;">@Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-white" })</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cast, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cast, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter The Casts" } })
            <span style="color:white;font-size:20px;font-weight:400;text-shadow:2px 4px #111 ;">@Html.ValidationMessageFor(model => model.Cast, "", new { @class = "text-white" })</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type Movie Description" } })
            <span style="color:white;font-size:20px;font-weight:400;text-shadow:2px 4px #111 ;">@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-white" })</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ShowingDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ShowingDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Select Showing Date" } })
            <span style="color:white;font-size:20px;font-weight:400;text-shadow:2px 4px #111 ;">@Html.ValidationMessageFor(model => model.ShowingDate, "", new { @class = "text-white" })</span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="img_upload" accept=".jpeg,.jpg,.png" onchange="readURL(this);" class="form-control" required="required" />
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Movie Cost" } })
            <span style="color:white;font-size:20px;font-weight:400;text-shadow:2px 4px #111 ;">@Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-white" })</span>
        </div>
    </div>

    <div class="form-group" style="float:left;padding-left:150px;">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Movie" class="btn btn-default" />
        </div>
    </div>

    <div class="form-group"style="display:inline-block;padding-left:320px;">
        <div class="col-md-offset-2 col-md-10">
            <input type="reset" value="Clear" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
