@model Firewalls.Models.Cinema_Models.AssignMovie

@{
    ViewBag.Title = "View Assigned Movie";
}

<h2>Assigned Movie Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.theatreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.theatreName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MappingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
