@model IEnumerable<Firewalls.Models.Cinema_Models.AssignMovie>

@{
    ViewBag.Title = "View Assigned Movies";
}

    <h2>View Assigned Movies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mnames)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.theatreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hour)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.location)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Mnames)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.theatreName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hour)
    </td>
    @*<th>
            @Html.DisplayFor(modelItem => item.location)
        </th>*@

<td>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = item.MappingID })

    }
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Delete", "Delete", new { id = item.MappingID })

    }
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Details", "Details", new { id = item.MappingID })

    }
    <div>@Html.ActionLink("Book Now", "Create", "Bookings")</div>


</td>
</tr>
}

</table>
